.linear {
  animation-name: linear_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes linear_kf {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

.ease {
  animation-name: ease_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes ease_kf {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

.ease-in {
  animation-name: ease-in_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes ease-in_kf {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

.ease-out {
  animation-name: ease-out_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes ease-out_kf {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

.ease-in-out {
  animation-name: ease-in-out_kf;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes ease-in-out_kf {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100vw);
  }
}

.steps {
}
